<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zee.smsforward.mapper.SMSMapper">

	<cache></cache>
	
	<resultMap type="SMS" id="productResultMap">
		<result column="id_sms" property="id" javaType="String"/>
		<result column="wx_open_id" property="openId" javaType="String"/>
		<result column="send_by" property="sendBy" javaType="String"/>
		<result column="sms_comtext" property="context" javaType="String"/>
		<result column="send_time" property="sendTime" javaType="String"/>
		
	</resultMap>
	
	
	<select id="getSMSByopenId" resultMap="productResultMap" parameterType="java.util.Map">
	<![CDATA[
		select * from weapp_sms_record where wx_open_id=#{openId} order by created_date desc  limit #{pageNumber},#{pageSize}
	]]>
	</select>
	
    <insert id="insertSMS" parameterType="com.zee.smsforward.model.SMS">
		<![CDATA[
			INSERT INTO weapp.weapp_sms_record
			(id_sms, wx_open_id, send_by, sms_comtext, send_time)
			VALUES(uuid(), #{openId}, #{sendBy}, #{context}, #{sendTime});
		]]>
	</insert>
	<!--  
	<sql id="selectSQL">
		<![CDATA[
			SELECT * FROM product INNER JOIN category ON product.categoryid=category.id
		]]>
	</sql>
	
	
	<select id="listAllProductIncludeCategoryName" resultMap="productResultMap" useCache="true" >
		<include refid="selectSQL"/>
	</select>
	
	
	<insert id="insertProduct" keyColumn="id" keyProperty="id" useGeneratedKeys="true" parameterType="Product">
		<![CDATA[
			INSERT INTO product (name,price,description,categoryid) values (#{name},#{price},#{description},#{categoryid})
		]]>
	</insert>
	
	
	<update id="updateProduct" parameterType="Product">
		<![CDATA[
			UPDATE product SET name=#{name},price=#{price},description=#{description},categoryid=#{categoryid} WHERE id = #{id}
		]]>
	</update>
	-->
	
	
</mapper>